.sort-table {
    table {
        border: 1px solid;
        thead {
            border-bottom: 1px solid;
        }

        td {
            border: 1px dotted;
            padding: 5px;
        }
    }

}
